<div class="toolbar">
    <div id="logo">
        <img src="https://images.vexels.com/media/users/3/224239/isolated/lists/171e4ea1ec4511190c57212be2fa807f-planta-que-crece-en-el-logo-de-maceta.png" alt="logo-planta">
        <span>Plantnet</span>
    </div>


    <div id="iconos">
        <img src="https://cdn-icons-png.flaticon.com/512/795/795724.png" alt="busqueda">
        <img src="https://cdn-icons-png.flaticon.com/512/8720/8720768.png" alt="captura-pantalla">
        <img src="https://cdn-icons-png.flaticon.com/512/9439/9439900.png" alt="descarga">
    </div>
    
</div>
